body{
    background: rgb(243, 215, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 /*horizontal, vertical, blur-radius, spreading-blur, color*/

.box{
    display: flex;
    background: white;
    padding: 2.5em;
    position: relative;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 0 0 16px red,
                0 0 0 32px pink,
                0 0 0 48px green;
}

.click{
    border: 3px solid black;
    border-radius: 50px;
    background: white;
    padding: 9px 35px;
    font-size: 15px;
    cursor: pointer;
}